* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5d5;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #c7b793;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer, .score {
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    color: #354a2f;
    font-weight: bold;
}

.timer {
    left: 5%;
}

.score {
    right: 5%;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: #a3b68a;
    border: 2px solid #5c724a;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

#finalWPM {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #354a2f;
    z-index: 10;
}
